{
  "include": [
    "bin/src/**/*.js"
  ],
  "exclude": [
    "testdata/**",
    "bin/test/**",
    "bin/testdata/**",
    "bin/src/BeanProvider.js",
    "bin/src/FastifyTypes.js",
    "bin/src/RevaneReply.js",
    "bin/src/Options.js",
    "bin/src/RevaneResponse.js",
    "bin/src/RevaneRequest.js",
    "bin/src/RevaneFastifyContext.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "all": true,
  "check-coverage": true
}
