{
  "include": [
    "bin/src/**/*.js"
  ],
  "exclude": [
    "testdata/**",
    "bin/test/**",
    "bin/testdata/**",
    "bin/src/BeanProvider.js",
    "bin/src/FastifyTypes.js",
    "bin/src/RevaneReply.js",
    "bin/src/Options.js"
  ],
  "all": true,
  "check-coverage": true
}